<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KKD Rice Warehouse l Amata Nakorn</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

    <nav>
        <div class="contariner">
            <div class="nav-con">
        <div class="logo">
            <a href="#">KKD Rice Warehouse Amata Nakorn</a>
        </div>
            <ul class="menu">
                <li><a href="">Home</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Portfolio</a></li>
                <li><a href="">Coutact Us</a></li>
            </ul>
            </div>
        </div> 
    </nav>

    <section class="hero">
            <div class="container">
                <div class="hero-con">
                    <div class="hero-info">
                        <h3>This is KKD Rice Warehouse</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium facilis facere ut quaerat commodi, corporis amet obcaecati repellendus. Vitae reiciendis harum eaque aut molestiae quisquam. Obcaecati, officia voluptate. Consequuntur, repellendus.</p>
                        <a href="#" class="hero-btn">Learn more</a>
                    </div>

                    <div class="hero-img">
                        <img src="https://scontent.fbkk30-1.fna.fbcdn.net/v/t39.30808-6/328785707_883422702986951_6290089393981228530_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeG7GzCpCi6onnnasTiuXecHK937PUiHYHsr3fs9SIdge8eQivtxh4O_iPMYNPwjOnRG9RIXLW-Bn3GJJ7Cv_qB6&_nc_ohc=wh7E_Hb_YQ4AX_tD44N&_nc_ht=scontent.fbkk30-1.fna&oh=00_AfCO5qXcMHukJacANymTawBTWwQoG-PLbCcGYgqM9h4BpA&oe=652ECA27" alt="">
                    </div>
                </div>
            </div>
    </section>

    <section>
    <div class="section blog">
            <div class="container">
                <div class="blog-title">
                    <h3>Our Rice</h3>
                </div>

                <div class="blog-con">
                    <div class="blog-item">
                        <img src="https://scontent.fbkk30-1.fna.fbcdn.net/v/t39.30808-6/352272985_639666717712612_2341262857510040651_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeH8mibIzE14Or1TemD9Fm3_4BJbJbFkH1bgElslsWQfVvBKVkczU1eqthn790dtoQm-e7sIudo5JA2QRX44kMKP&_nc_ohc=xy1wqGM4NxkAX-g22Z8&_nc_ht=scontent.fbkk30-1.fna&oh=00_AfC3ztrctJAoDI0KyuidM6e3MpyyuhEL1A7JRdDrmFQInw&oe=652E1C52" alt="">
                        <h4>My Rice</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae iure eaque, excepturi modi vitae fugit aspernatur exercitationem fugiat laudantium eum?</p>
                        <a href="#" class="blog-btn">Learn More</a>
                    </div>

                    <div class="blog-item">
                        <img src="https://scontent.fbkk30-1.fna.fbcdn.net/v/t39.30808-6/352272985_639666717712612_2341262857510040651_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeH8mibIzE14Or1TemD9Fm3_4BJbJbFkH1bgElslsWQfVvBKVkczU1eqthn790dtoQm-e7sIudo5JA2QRX44kMKP&_nc_ohc=xy1wqGM4NxkAX-g22Z8&_nc_ht=scontent.fbkk30-1.fna&oh=00_AfC3ztrctJAoDI0KyuidM6e3MpyyuhEL1A7JRdDrmFQInw&oe=652E1C52" alt="">
                        <h4>My Rice</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae iure eaque, excepturi modi vitae fugit aspernatur exercitationem fugiat laudantium eum?</p>
                        <a href="#" class="blog-btn">Learn More</a>
                    </div>

                    <div class="blog-item">
                        <img src="https://scontent.fbkk30-1.fna.fbcdn.net/v/t39.30808-6/352272985_639666717712612_2341262857510040651_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeH8mibIzE14Or1TemD9Fm3_4BJbJbFkH1bgElslsWQfVvBKVkczU1eqthn790dtoQm-e7sIudo5JA2QRX44kMKP&_nc_ohc=xy1wqGM4NxkAX-g22Z8&_nc_ht=scontent.fbkk30-1.fna&oh=00_AfC3ztrctJAoDI0KyuidM6e3MpyyuhEL1A7JRdDrmFQInw&oe=652E1C52" alt="">
                        <h4>My Rice</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae iure eaque, excepturi modi vitae fugit aspernatur exercitationem fugiat laudantium eum?</p>
                        <a href="#" class="blog-btn">Learn More</a>
                    </div>
                </div>
            </div>
    </div>

</section>

    <div class="footer-top">
        <div class="container">
            <div class="footer-top-con">
                <div class="footer-top-item">
                    <h4>Latset Posts</h4>
                    <div class="footer-top-item-con">
                        <div class="date">
                            JULY <br>
                            27
                        </div>
                        <div class="info">
                            <span class="info-title">Lorem ipsum dolor sit amet consectetur.</span>
                            <span class="info-desc">Lorem ipsum dolor sit amet consectetur.</span>
                        </div>
                    </div>

                    <div class="footer-top-item-con">
                        <div class="date">
                            JULY <br>
                            27
                        </div>
                        <div class="info">
                            <span class="info-title">Lorem ipsum dolor sit amet consectetur.</span>
                            <span class="info-desc">Lorem ipsum dolor sit amet consectetur.</span>
                        </div>
                    </div>

                    <div class="footer-top-item-con">
                        <div class="date">
                            JULY <br>
                            27
                        </div>
                        <div class="info">
                            <span class="info-title">Lorem ipsum dolor sit amet consectetur.</span>
                            <span class="info-desc">Lorem ipsum dolor sit amet consectetur.</span>
                        </div>
                    </div>
                </div>
                <div class="footer-top-item">
                    <h4>Abouts</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga cupiditate consequuntur voluptate? Facere porro nihil maxime earum non facilis molestias magni fugiat. Quam enim ipsam facere voluptatum, natus velit architecto necessitatibus corrupti ab officiis eligendi ratione quos minima vero vel officia animi totam praesentium suscipit incidunt mollitia consequuntur repellendus dolores.</p>
                </div>
                <div class="footer-top-item">
                    <h4>Stay Connected</h4>
                    <p><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</p>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i> Gmail</p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>Copyright 2022. Allt right reserved Bloom web design.</p>
    </div>
    
</body>
</html>